// footer
footer{
    position: relative;
    width:100%;
    font-family: 'Roboto Condensed', sans-serif;
    color: #767766;
    font-size: 1em;
    padding: 0 0 10px;
    @media screen and (min-width: 1200px){
        font-size: 1.3em;
    }
    img{
        width:100%;
        position: absolute;
        bottom: -18px;
        left:0;
    }
    .box{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
        padding-bottom: 6.5%;
        padding-right: 3px;
        .by{
            transform: rotate(-11deg);
            margin-right: 24px;
            padding-bottom: 26px;
            @media screen and (min-width: 1200px){
                padding-bottom: 35px;
            }
        }
        
        .cr{
            transform: rotate(11deg);
            padding-right: 5px;
        }
    }
}