main {
    width: 100%;

    .banner-fix {
        position: fixed;
        top: -1400px;
        left: 0;
        width: 100%;
        height: 60px;
        z-index: 15;

        &.active {
            top: 0;
        }

        transition: all 0.3s ease-in-out;
        @media screen and (max-width: 640px) {
            height: 40px;
        }

        @media screen and (min-width: 640px) and (max-width: 940px) {
            height: 50px;
        }
        .banner {
            position: relative;
            font-family: 'Roboto Condensed', sans-serif;
            color: #767766;
            font-size: 1.8em;
            width: 100%;
            height: 60px;

            @media screen and (max-width: 640px) {
                font-size: 1.4em;
                height: 40px;
            }

            @media screen and (min-width: 640px) and (max-width: 940px) {
                font-size: 1.6em;
                height: 50px;
            }

            img {
                width: 100vw;
                height: 60px;

                @media screen and (max-width: 640px) {
                    height: 40px;
                }

                @media screen and (min-width: 640px) and (max-width: 940px) {
                    height: 50px;
                }
            }

            .fix {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;

                .fix-bloc {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100px;
                    height: 60px;

                    @media screen and (max-width: 640px) {
                        height: 40px;
                        width: 80px;
                    }

                    @media screen and (min-width: 640px) and (max-width: 940px) {
                        height: 50px;
                        width: 90px;
                    }

                    a {
                        text-decoration: none;
                        color: #c4bfbf;
                        padding: 0;
                        transition: all 0.3s ease-in-out;
                        text-align: center;

                        &:hover {
                            color: #fcef37;
                        }
                    }
                }
            }
        }
    }

    // section1 work
    section {
        width: 100%;
        overflow: hidden;
        margin: 0px 0 90px;

        .wrapper {
            width: 100%;
            position: relative;

            .header {
                padding-top: 60px;

                .headerWrapper {
                    &::before {
                        content: '';
                        background: #65625109;
                        position: absolute;
                        top: -180px;
                        left: -19px;
                        width: 119%;
                        height: 404px;
                        transform: rotate(11deg);
                        z-index: -1;

                        @media screen and (max-width: 940px) {
                            height: 374px;
                        }

                        @media screen and (min-width: 940px) and (max-width: 1340px) {
                            height: 384px;
                        }

                        @media screen and (min-width: 1340px) and (max-width: 1760px) {
                            height: 394px;
                        }
                    }

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    text-align: center;

                    h1 {
                        font-family: 'Varela Round', sans-serif;
                        font-size: 5.5em;
                        border-bottom: 8px dotted lightgrey;
                        padding-top: 0px;
                        padding-bottom: 20px;
                        margin-bottom: 0.40em;
                        color: #c4bfbf;

                        span {
                            color: #fcef37;
                        }

                        @media screen and (max-width: 640px) {
                            font-size: 3em;
                            padding-top: 58px;
                        }

                        @media screen and (min-width: 640px) and (max-width: 940px) {
                            font-size: 3.5em;
                            padding-top: 44px;
                        }

                        @media screen and (min-width: 940px) and (max-width: 1340px) {
                            font-size: 4em;
                            padding-top: 32px;
                        }

                        @media screen and (min-width: 1340px) and (max-width: 1760px) {
                            font-size: 4.5em;
                            padding-top: 18px;
                        }
                    }

                    h3 {
                        font-family: 'Ubuntu', sans-serif;
                        font-size: 2.6em;
                        line-height: 55px;
                        color: #65625d;

                        @media screen and (max-width: 640px) {
                            font-size: 1.17em;
                            line-height: 26px;
                        }

                        @media screen and (min-width: 640px) and (max-width: 940px) {
                            font-size: 1.5em;
                            line-height: 30px;
                        }

                        @media screen and (min-width: 940px) and (max-width: 1340px) {
                            font-size: 2.1em;
                            line-height: 45px;
                        }
                    }
                }
            }

            .cellWrapper {
                padding: 0 42px;
                margin: 0 auto;
                max-width: 1200px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                transition: all 0.3s ease-in-out;

                a {
                    padding: 7px;
                    transition: all 0.3s ease-in-out;

                    .image-wrap {
                        position: relative;
                        overflow: hidden;
                        border-radius: 30px;

                        &:after {
                            content: '';
                            background: linear-gradient(to top right, rgba(158, 120, 76, 0.74), rgba(171, 223, 192, 0.658)) , #29655290;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            opacity: 0;
                            border-radius: 30px;
                            transition: .3s all ease-in-out;

                        }

                        &:hover:after {
                            opacity: 1;
                        }

                        &:hover .image-cover img {
                            filter: blur(1.5px);
                        }

                        .image-cover {
                            width: 100%;
                            border-radius: 30px;
                            overflow: hidden;

                            img {
                                display: block;
                                max-width: 340px;
                                border-radius: 30px;
                                width: 100%;
                            }
                        }

                        .image-text {
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            width: 100%;
                            height: 100%;
                            text-decoration: none;
                            color: #ffffff;
                            text-align: center;
                            transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
                            opacity: 0;
                            z-index: 1;

                            &:hover {
                                opacity: 1;
                            }

                            .title {
                                font-family: 'Varela Round', sans-serif;
                                font-size: 4em;
                                margin: 129px 35px 35px;

                                @media screen and (max-width: 540px) {
                                    font-size: 3em;
                                    margin: 110px 10px 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

// About - page
.cellWrapper {
    .profile {
        max-width: 680px;

        .me-text {
            font-family: 'Ubuntu', sans-serif;
            font-size: 1.6em;
            line-height: 40px;
            color: #65625d;

            @media screen and (max-width: 640px) {
                font-size: 1em;
                line-height: 25px;
            }

            @media screen and (min-width: 640px) and (max-width: 940px) {
                font-size: 1.2em;
                line-height: 30px;
            }

            @media screen and (min-width: 940px) and (max-width: 1340px) {
                font-size: 1.4em;
                line-height: 35px;
            }
        }

        .buttonsCV {
            .CVs {
                display: flex;
                justify-content: space-between;
                flex-wrap: wrap;
                margin: 30px 0 5px;

                .big {
                    display: initial;

                    @media screen and (max-width: 640px) {
                        display: none;
                    }
                    a{
                        font-family: 'Ubuntu', sans-serif;
                        font-size: 1em;
                        text-decoration: none;
                        color: #767766;
                        &:hover{
                            color: #fcef37;
                        }
                    }

                }

                .small {
                    display: none;
                    @media screen and (max-width: 640px) {
                        display: initial;
                    }
                    a{
                        font-family: 'Ubuntu', sans-serif;
                        font-size: 1em;
                        text-decoration: none;
                        color: #767766;
                        &:hover{
                            color: #fcef37;
                        }
                    }
                }               
            }
        }
    }
}


// Contact - page
section.contact {
    padding-bottom: 80px;

    @media screen and (min-width: 640px) and (max-width: 940px) {
        padding-bottom: 180px;
    }

    @media screen and (min-width: 940px) and (max-width: 1200px) {
        padding-bottom: 200px;
    }

    @media screen and (min-width: 1200px) {
        padding-bottom: 300px;
    }
}

.cellWrapper {
    .formulaire {
        width: 680px;
        font-family: 'Ubuntu', sans-serif;
        font-size: 1em;
        line-height: 25px;
        color: #65625d;

        form {
            fieldset {
                background: #65625109;
                border:1px solid #c4bfbf;
                border-radius: 30px;
                legend {
                    text-align: center;
                    padding: 13px 13px;
                    background: #ffffff;
                    border-radius: 13px;
                    line-height: 20px;
                }
            }

            .fill-wrapper {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin: 0 10px;
                padding: 5px 0 10px;

                @media screen and (max-width: 750px) {
                    flex-direction: column;
                }

                .fill-wrap {
                    width: 100%;
                    color: #ffffff;
                    margin-right: 5px;

                    .form {
                        label {
                            display: block;
                            padding-top: 18px;
                            color: #65625d;
                        }

                        input {
                            width: 100%;
                            max-width: 300px;

                            @media screen and (max-width: 750px) {
                                max-width: 100%;
                            }
                        }
                    }
                }

                .message {
                    width: 100%;
                    max-width: 300px;
                    color: #ffffff;
                    padding-top: 18px;
                    margin-left: 5px;

                    @media screen and (max-width: 750px) {
                        max-width: 100%;
                    }
                    label{
                        color: #65625d;
                    }
                    textarea {
                        width: 100%;
                        height: 83%;
                        min-height: 200px;
                    }
                }
            }

            .submit {
                text-align: center;
                margin-right: 12px;

                @media screen and (min-width: 750px) {
                    text-align: right;
                }

                input {
                    font-family: 'Amatic SC', cursive;
                    font-size: 2.5em;
                    color: #65625d;
                    display: inline-block;
                    background: #fcef37;
                    border: 2px solid #65625d;
                    border-radius: 40px;
                    width: 80px;
                    height: 80px;
                    padding: 12px;
                    text-align: center;
                    transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

                    &:hover {
                        border: 2px solid #fcef37;
                        background: #65625d77;
                        color: #fcef37;
                    }
                }
            }
        }
    }
}

//PORTFOLIO---WORK------------------------------------------
.workpage{
    font-family: 'Ubuntu', sans-serif;
    color: #65625d;
    .wrapper{
       .homefix{
            position: fixed;
            top: 0px;
            right: 0px;   
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 1.8em;
            text-decoration: none;
            padding: 12px;
            text-align: center;
            transition: all 0.3s ease-in-out;
            color: #c4bfbf;;
            background: #767766;
            cursor: pointer;
            z-index: 1;
            &:hover {
                
                color: #fcef37;
            }
            @media screen and (max-width: 640px) {
                font-size: 1em;  
            }
       } 
    //    .header{
    //     padding-top: 30px;
    //         .headerWrapper{
    //             &::before{
    //                 height: 345px;
    //             }
    //         }
    //     }
    }
}
//Page Work-Content
.col-md-12 {
    padding: 0 42px;

    //header-text block 
    .cadre {
        
        margin: 0 auto;
        max-width: 680px;
        text-align: center;
        border-top: 1px dotted #c4bfbf;

        h4 {
            font-family: 'Amatic SC', cursive;
            font-size: 2.6em;
            line-height: 55px;
            color: #c4bfbf;
            margin: 50px 0 20px;

            @media screen and (max-width: 640px) {
                font-size: 1.5em;
                line-height: 26px;
            }

            @media screen and (min-width: 640px) and (max-width: 940px) {
                font-size: 1.9em;
                line-height: 30px;
            }

            @media screen and (min-width: 940px) and (max-width: 1340px) {
                font-size: 2.1em;
                line-height: 45px;
            }
        }

        .me-text {
            font-size: 1.6em;
            line-height: 40px;
            margin: 0 0 50px;

            @media screen and (max-width: 640px) {
                font-size: 1em;
                line-height: 25px;
            }

            @media screen and (min-width: 640px) and (max-width: 940px) {
                font-size: 1.2em;
                line-height: 30px;
            }

            @media screen and (min-width: 940px) and (max-width: 1340px) {
                font-size: 1.4em;
                line-height: 35px;
            }
        }
    }

    //website buttons
    .nav-pills {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style-type: none;
        padding: 30px 0 15px;
        margin: 0;
        @media screen and (min-width: 1024px){
            padding: 70px 0 15px;
        }
        li {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 150px;
            height: 150px;
            margin: 0 0.6%;
            border-radius: 75px;
            background: #ffffff8a;
            border:2px solid #c4bfbf;
            cursor: pointer;
            &.active{
                background: #ffffff00;
                border:2px solid #fcef37;
                a img{
                    width: 120%;
                    height: 120%;
                }
            }
            
            a {
                width: 150px;
                height: 150px;
                border-radius: 75px;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: -1;
                img {
                    width: 100%;
                    height: 100%;
                    border-radius: 75px;
                    display: block;
                    transition: all 0.3s ease-in-out;
                }
                .small-link{
                    width:100%;
                    height:100%;
                    text-align: center;
                    background: #c4bfbf;
                    color:#ffffff;
                    border-radius: 15px;
                    padding-top: 4px;
                    display: none;
                }
            }
            transition: all 0.3s ease-in-out;
            &:hover a img{
                width: 120%;
                height: 120%;

            }
            @media screen and (max-width: 640px) {
                width: 100%;
                height: 30px;
                border-radius: 15px;
                margin:4px 0;
                border:1px solid #c4bfbf;
                a{
                    width: 100%;
                    height: 100%;
                    border-radius: 15px;
                    text-decoration: none;
                    img{
                        display: none;
                    }
                    .small-link{
                        display: initial;
                    }
                }
            }
            @media screen and (min-width: 640px) and (max-width:1024px){
                width: 100px;
                height: 100px;
                border-radius: 50px;
                a{
                    width: 100px;
                    height: 100px;
                    border-radius: 50px;
                }
            }
        }
    }

    //website content frame
    .projects {
        padding: 0 10px;
        @media screen and (max-width: 640px) {
        padding: 0;
        }
        //website box
        .project {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 10px 50px 50px;
            background: #65625109;
            border: 1px solid #c4bfbf;
            border-radius: 30px;
            //width: 100%;
            max-width: 1200px;
            text-align: center;
            margin: 0 auto;
            @media screen and (max-width: 640px) {
                padding: 0;
                border:none;
                background: none;
                border-radius:0;
                flex-direction: column-reverse;               
            }
            p {
                font-size: 3em;
                margin-top: 20px;
                margin-bottom:10px;
                border-bottom:1px solid #c4bfbf;
                @media screen and (max-width: 640px) {         
                    display: none;
                }
                @media screen and (min-width: 640px) and (max-width: 940px) {         
                   font-size: 2em;
                }
            }
            
            .projectButton {

                font-family: 'Amatic SC', cursive;
                font-size: 2em;
                text-decoration: none;
                border: 2px solid #65625d;
                border-radius: 35px;
                width: 70px;
                height: 70px;
                padding: 13px;    
                align-self: flex-end;
                margin-top: 10px;
                margin-bottom: 10px;
                text-align: center;
                transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
                color: #65625d;
                background: #fcef37;
                @media screen and (min-width: 640px) and (max-width: 940px) {
                    // font-size: 2.5em;
                    // border-radius: 40px;
                    // width: 80px;
                    // height: 80px;
                    // padding: 12px; 
                    // margin-bottom: 25px;
                    align-self: center;
                }
                @media screen and (min-width: 940px) {
                    margin-bottom: 0;
                    align-self: center;
                }
                &:hover {
                    border: 2px solid #fcef37;
                    background: #65625d77;
                    color: #fcef37;
                }
            }

            .subtitle-button {
                padding: 5px 0 20px;
                font-size: 1.2em;
                @media screen and (max-width: 940px) {                    
                    display: none;
                }               
            }            
            .overflow {
                max-height: 600px;
                overflow-x: overlay;
                
                @media screen and (max-width: 640px) {
                    max-height: 260px;
                    padding-top: 3px;                       
                    border-top: 1px solid #c4bfbf;
                }
        
                @media screen and (min-width: 640px) and (max-width: 940px) {
                    max-height: 440px;
                }
    
                @media screen and (min-width: 940px) and (max-width: 1340px) {
                    max-height: 550px;
                }
                
                img {
                    width: 100%;                        
                }                    
            }            
        }

        .hidden {
            display: none;
        }
    }
}

//PORTFOLIO photography------------------------------------------------------------------------

            .pics{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                //width:100%;
                //height:100%;
                text-align: center;
                //background: #c4bfbf;
                color:#ffffff;
                //border-radius: 75px;
                padding-top: 4px;
                //display: initial;
                font-size: 1.5em;
                display:initial;
                @media screen and (max-width: 640px) {
                    display:none;
                }
                @media screen and (min-width: 640px) and (max-width:940px){
                    font-size: 1em;
                }
            }
 .workpage2 .projects {
    border: solid 1px #c4bfbf;
    border-radius: 30px;
    background: #65625109;
    padding: 0px 50px 50px;
    max-width: 1200px;
    margin: 0 auto;
    @media screen and (max-width: 640px) {
        padding: 0px 35px 35px;
    }
    .project{
        padding: 0px 25px 25px;
        background: none;
        border:none;
        border-radius: 30px;
        //width: 100%;
        text-align: center;
        
     } 
    .overflow {
        //max-height: 600px;
        //overflow-x: overlay;
        
        @media screen and (max-width: 640px) {
            //max-height: 260px;
            padding-top: 3px;                       
            //border-top: 1px solid #c4bfbf;
        }

        @media screen and (min-width: 640px) and (max-width: 940px) {
            //max-height: 440px;
        }

        @media screen and (min-width: 940px) and (max-width: 1340px) {
            //max-height: 550px;
        }
        
        .pictures {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            img{
                height: 200px;
                cursor: pointer;
                display: block;
                padding: 2px; 
                &.active{
                    height:750px;
                }
                @media screen and (max-width: 640px) {
                    height: 100px;
                }
            } 
            
        }                    
    }            
 }    









